.side_bar
  .side_bar__user-name
    .side_bar__box
      .side_bar__items
        .side_bar__item-user
          soooo
        .side_bar__item-icon

          =link_to "#", class: "side_bar__item-btn" do
            = icon('fas', 'cog', class: "side_bar_icon-setting")
          
          =link_to "#" ,class: "side_bar__item-btn"  do
            = icon('far', 'edit', class: "side_bar_icon-edit" )
         
  .side_bar__group-list
    .group-list__group
      .group__group-name
        tech-comp
      .group__group-message
        まだメッセージはありません