.side_bar
  .side_bar__user-name
    .side_bar__user-name__box
      .side_bar__user-name__box__items
        .side_bar__user-name__box__items__item-user
          soooo
        .side_bar__user-name__box__items__item-icon

          =link_to "#", class: "side_bar__user-name__box__items__item-icon__item-btn" do
            = icon('fas', 'cog', class: "side_bar_icon-setting")
          
          =link_to "#" ,class: "side_bar__user-name__box__items__item-icon__item-btn"  do
            = icon('far', 'edit', class: "side_bar_icon-edit" )

         
  .side_bar__group-list
    .side_bar__group-list__group
      .side_bar__group-list__group__group-name
        tech-comp
      .side_bar__group-list__group__group-message
        まだメッセージはありません