.side_bar {
  height: 100vh;
  width: 300px;
  background-color: $deep-blue;
  float: left;
  &__user-name{
    height: 100px;
    width: 300px;
    background-color: $deep-blue;
    display: flex;
    align-items: center;
    &__box{
      height: 20px;
      width: 260px;
      margin: 0 auto;
      &__items{
        display: flex;
        justify-content: space-between;
        &__item-user{
          line-height: 20px;
          color: $main-color;
          font-size: 16px;
        }
        &__item-icon{
          height: 20px;
          width: 60px;
          &__item-btn{
            display: block;
            float: right;
            margin-left: 5px;
           line-height: 20px;
            text-decoration: none;
            color: $main-color;
          }
        }
      }
    }
  }
  &__group-list{
    height: calc(100vh - 100px);
    width: 300px;
    background-color: #2f3e51;
    overflow: scroll;
    &__group{
      margin: 0 20px ;
      &__group-name{
        color: $main-color;
        padding-top: 20px;
        margin-bottom: 5px;
        font-size: 15px;
      }
      &__group-message{
        font-size: 11px;
        padding-top: 5px;
        padding-bottom: 40px;
        color: $main-color;
      }
    }
  }
}